html {
   background-image: url(/assests/images/winetile.jpg);
   background-blend-mode: overlay;
   background-color: rgba(0, 0, 0, 0.602);
   background-repeat: repeat;
   font-size: 16px;
   box-sizing: border-box;
   color:#e1dac7;}
  
  a {
     color: hotpink;
     text-decoration: none;
  }
  
  a:hover {
     color: rgb(132, 86, 3);
  }
  
  h1 {
     font-size: 3rem;
  }
  h2 {
     font-size: 2.5rem;
  }
  h3 {
     font-size: 2rem;
  }
  h4 {
     font-size: 1.5rem;
  }
  h5 {
     font-size: 1.25rem;
  }

  h3 a {
   text-align: left;
   padding: 20px;
  }
  
  body {
  
   display:flex;
   flex-direction: column;
   justify-self: center;
  
  }
  header {
   max-height: fit-content;
   min-width:auto;
  }
  
  header img {
   width: 1300px;
   height: 650px;
   border: 2px solid #a76c6c;
  }
  
  nav {
     background: #333;
     padding: 0;
  }
  .menu {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
  }
  .menu > li {
     position: relative;
  }
  .menu > li > a {
     display: block;
     padding: 10px 20px;
     color: white;
     text-decoration: none;
  }
  .menu > li:hover > a {
     background: #444;
  }
  .submenu {
     list-style: none;
     position: absolute;
     top: 100%;
     left: 0;
     background: #444;
     display: none;
     padding: 0;
  }
  .submenu li {
     position: relative;
  }
  .submenu a {
     display: block;
     padding: 10px 20px;
     color: white;
     text-decoration: none;
  }
  .submenu li:hover > a {
     background: #555;
  }
  .dropdown:hover > .submenu {
     display: block;
  }
  main {
   width: 1300px;
   display: flex;
   justify-content: center;
  }
  
    .rightcolumn {
     min-width: 60%;
     min-height: 500px;
     background-color: rgba(34, 39, 43, 0);
    }
  
       .blogpost {
        min-height: 1000px;
        background-color: rgb(97, 0, 0);
        border: 2px, solid, #a76c6c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        margin: 5px;
       }
       .blogpost img {
        height: 350px;
        width: auto;
        border: 2px, solid, rgb(0, 0, 0);
        
       }
  
       .recommendations {
        min-width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr 2fr 1fr;
        grid-template-rows: min-content;
       }
       .recommendations img {
        max-width: 100%;
        height: fit-content;
       }
        .bottlecards {
           text-align: center;
         padding: 5px;
         color: maroon;
        }
        #bottleshot {
           grid-column: 1 / 5;
        }
  
  
  
  .leftcolumn {
   min-width: 40%;
   min-height: 500px;
   text-align: center;
   background-color: rgba(85, 0, 17, 0.427);
  
  }
  
     .winecourse {
      min-height:fit-content;
      color:maroon;
      padding: 10px;
      text-align: center;
     }
  
     .winecourse li {
        list-style: none;
     }
  
     .winecourse a {
        color:#e1dac7;
     }
     .winecourse a:hover {
        color:hotpink;
     }
     .winecourse a:visited {
        color:orange;
     }
  
     .winecourse img {
        width: 100%;
        height: auto
     }
  
     .units {
        font-size: 24px;
        
     }
  
     .grapespotlight {
      padding: 30px;
     }
  
     .grapespotlight img {
        width: 100%;
        height: auto;
     }
  
     .recipecard {
      min-height: fit-content;
      color: maroon;
      background-image: url(/assests/images/Lightbackgroundtile.2.png);
     }
  
     .recipecard img {
        width: 100%;
        height:auto;
     }
  
     .container {
        text-align: left;
        padding:20px;
     }
  
  footer {
     min-height: 300px;
     background-color: rgb(56, 50, 50);
     border: 2px solid #a76c6c;
  }
  
  .winepages {
     width: 60%;
  }
  
  .bottleimage {
     width: 40%
  }
  .bottleinfo {
     width: 60%;
  }
  
  .recipepages {
   margin-top: 20px;
   margin-bottom: 20px;
     display: flex;
     border: 2px solid #a76c6c;
     background-color: rgba(128, 0, 128, 0.485);
     padding: 25px;
     justify-content: space-evenly;
  }
  #recipeone {
     border: 2px, solid, black;
     width: 45%;
     padding: 30px;
     margin: 20px;
     background-color: darkred;
  }
  
  video {
     width: 100%;
     border: 2px solid #a76c6c;
  }

.container1 {
   width: 60%;
   text-align: center;
}
.container1 img {
   justify-self: center;
}
.container2 {
   width: 40%;
}
.drynesscharts {
   background-color: rgba(112, 128, 144, 0.479);
   padding: 20px;
   margin: 20px;
   border: 2px solid #a76c6c;
   
}

#interactiveredwine {
   background-color: rgba(255, 0, 0, 0.422);
   border: 2px solid #a76c6c;
   padding: 20px;
   text-align: left;
   font-size: 16px;
}
#interactivewhitewine {
   background-color: rgba(247, 217, 67, 0.652);
   border: 2px solid #1cf000;
   padding: 20px;
   text-align: left;
   font-size: 16px;
   color: black;
}

/* Unit 1 */

.unit1 body {
   text-align: center;
   margin: 0;
   padding: 0;
   background-color: #43010100;
  }
  
  
  .unit1 main {
   display: flex;
   flex-direction: column;
  }
  .unit1 .container {
   max-width: 1000px;
   margin: 20px auto;
   padding: 20px;
   background: rgb(29, 24, 24);
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .unit1 h1, h2 {
   color: #ffffff;
  }
  
  .unit1 img {
   max-width: 100%;
   border-radius: 10px;
   border: 2px solid #a76c6c;
  }
  
  .unit1 .headernav {
   width: 100%;
   max-height: 100px;
   margin-bottom: 50px;
  }
  
  .unit1 .btn {
   padding: 10px 20px;
   margin: 30px;
   cursor: pointer;
   background-color: #71140a;
   color: white;
   border: none;
   border-radius: 5px;
   transition: background 0.3s ease;
  }
  
  .unit1 .btn:hover {
   background-color: #23272b;
  }
  
  .unit1 .notes-container {
   margin-top: 20px;
   text-align: left;
  }
  
  .unit1 textarea {
   width: 100%;
   height: 100px;
   padding: 10px;
   background-color: #322f2f;
   border: 1px solid #ac5a5a;
   border-radius: 5px;
   resize: none;
  }
  
  .unit1 #savedNotes {
   margin-top: 10px;
   padding: 10px;
   color: white;
   background: #322f2f;
   border-radius: 5px;
   text-align: left;
  }
  
  .unit1 ul {
   list-style: none;
   padding: 0;
  }
  
  .unit1 ul li {
   padding: 10px;
   font-size: 18px;
  }
  
  .unit1 ul li a {
   text-decoration: none;
   color: hotpink;
   font-weight: bold;
  }
  
  .unit1 ul li a:hover {
   text-decoration: underline;
   color: #b36800;
  }
  
  .unit1 body {
   text-align: center;
   margin: 0;
   padding: 0;
   background-color: #43010100;
  }
  
  .unit1 .quiz1-container {
   max-width: 1300px;
   background: rgba(128, 0, 0, 0.69);
   padding: 20px;
   margin: 20px auto;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   text-align: left;
   color: #ffffff;
  }
  
  .unit1 .headernav {
   width: 100%;
   max-height: 100px;
   margin-bottom: 50px;
  }
  
  .unit1 h1 {
   color: #ffffff;
  }
  
  .unit1 .question {
   font-weight: bold;
   margin: 10px 0;
   color: #ffffff;
  }
  
  .unit1 .answers label {
   display: block;
   padding: 5px;
   cursor: pointer;
   color: #ffffff;
  }
  
  .unit1 .answers input[type="radio"] {
   margin-right: 10px;
  }
  
  .unit1 .btn {
   background: #71140a;
   color: white;
   padding: 10px 15px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   margin-top: 15px;
   border-radius: 5px;
   transition: background 0.3s ease;
  }
  
  .unit1 .btn:hover {
   background: #23272b;
  }
  
  .unit1 #results {
   margin-top: 20px;
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
  }
  
  .unit1 hr {
   border: 0;
   height: 1px;
   background: #a76c6c;
   margin: 15px 0;
  }
  
  .unit1 #results p {
   font-size: 18px;
   font-weight: bold;
  }
  
  .unit1 #bestScore {
   font-size: 18px;
   font-weight: bold;
   color: #a76c6c;
  }
  
  .unit1 #attemptHistory {
   list-style-type: none;
   padding: 0;
   color: white;
  }
  
  .unit1 #attemptHistory li {
   background: #322f2f;
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
  }
  

/* Unit 2 */

.unit2 body {
   font-family: Arial, sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
   background-color: #3c430100;
  }
  .unit2 .container {
   max-width: 1000px;
   margin: 20px auto;
   padding: 20px;
   background: rgb(29, 24, 24);
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .unit2 h1, h2 {
   color: #ffffff;
  }
  .unit2 img {
   max-width: 100%;

   border-radius: 10px;
   border: 2px solid #92a76c;
  }

  .unit2 .headernav {
   width: 100%;
   max-height: 100px;
   margin-bottom: 50px;
  }

  .unit2 .btn {
   padding: 10px 20px;
   margin: 30px;
   cursor: pointer;
   background-color: #63710a;
   color: white;
   border: none;
   border-radius: 5px;
   transition: background 0.3s ease;
  }
  .unit2 .btn:hover {
   background-color: #23272b;
  }
  .unit2 .notes-container {
   margin-top: 20px;
   text-align: left;
  }
  .unit2 textarea {
   width: 100%;
   height: 100px;
   padding: 10px;
   background-color: #322f2f;
   border: 1px solid #a4ac5a;
   border-radius: 5px;
   resize: none;
  }
  .unit2 #savedNotes {
   margin-top: 10px;
   padding: 10px;
   color: white;
   background: #322f2f;
   border-radius: 5px;
   text-align: left;
  }
  .unit2 ul {
   list-style: none;
   padding: 0;
  }
  .unit2 ul li {
   padding: 10px;
   font-size: 18px;
  }
  .unit2 ul li a {
   text-decoration: none;
   color: #007BFF;
   font-weight: bold;
  }
  .unit2 ul li a:hover {
   text-decoration: underline;
   color: #0056b3;
  }
  .unit2 body {
   font-family: Arial, sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
   background-color: #394301;
  }
  .unit2 .quiz2-container {
   max-width: 800px;
   background: rgb(29, 24, 24);
   padding: 20px;
   margin: 20px auto;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   text-align: left;
   color: #ffffff;
  }
  .unit2 h1 {
   color: #ffffff;
  }
  .unit2 .question {
   font-weight: bold;
   margin: 10px 0;
   color: #ffffff;
  }
  .unit2 .answers label {
   display: block;
   padding: 5px;
   cursor: pointer;
   color: #ffffff;
  }
  .unit2 .answers input[type="radio"] {
   margin-right: 10px;
  }
  .unit2 .btn {
   background: #5c710a;
   color: white;
   padding: 10px 15px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   margin-top: 15px;
   border-radius: 5px;
   transition: background 0.3s ease;
  }
  .unit2 .btn:hover {
   background: #23272b;
  }
  .unit2 #results {
   margin-top: 20px;
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
  }
  .unit2 hr {
   border: 0;
   height: 1px;
   background: #99a76c;
   margin: 15px 0;
  }
  .unit2 #results p {
   font-size: 18px;
   font-weight: bold;
  }
  .unit2 #bestScore {
   font-size: 18px;
   font-weight: bold;
   color: #87a76c;
  }
  .unit2 #attemptHistory {
   list-style-type: none;
   padding: 0;
   color: white;
  }
  .unit2 #attemptHistory li {
   background: #322f2f;
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
  }

/* Unit 3 */
.unit3 body {
   font-family: Arial, sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
   background-color: #01430b;
  }
  .unit3 .container {
   max-width: 1000px;
   margin: 20px auto;
   padding: 20px;
   background: rgb(29, 24, 24);
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .unit3 h1, h2 {
   color: #ffffff;
  }
  .unit3 img {
   max-width: 100%;
   border-radius: 10px;
   border: 2px solid #6ca798;
  }
  .unit3 .headernav {
   width: 100%;
   max-height: 100px;
   margin-bottom: 50px;
  }
  .unit3 .btn {
   padding: 10px 20px;
   margin: 30px;
   cursor: pointer;
   background-color: #0a4971;
   color: white;
   border: none;
   border-radius: 5px;
   transition: background 0.3s ease;
  }
  .unit3 .btn:hover {
   background-color: #23272b;
  }
  .unit3 .notes-container {
   margin-top: 20px;
   text-align: left;
  }
  .unit3 textarea {
   width: 100%;
   height: 100px;
   padding: 10px;
   background-color: #322f2f;
   border: 1px solid #5aac93;
   border-radius: 5px;
   resize: none;
  }
  .unit3 #savedNotes {
   margin-top: 10px;
   padding: 10px;
   color: white;
   background: #322f2f;
   border-radius: 5px;
   text-align: left;
  }
  .unit3 ul {
   list-style: none;
   padding: 0;
  }
  .unit3 ul li {
   padding: 10px;
   font-size: 18px;
  }
  .unit3 ul li a {
   text-decoration: none;
   color: #f700ff;
   font-weight: bold;
  }
  .unit3 ul li a:hover {
   text-decoration: underline;
   color: #0056b3;
  }
  .unit3 body {
   font-family: Arial, sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
   background-color: #2a4015;
  }
  .unit3 .quiz3-container {
   max-width: 800px;
   background: #1b2610;
   padding: 20px;
   margin: 20px auto;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   text-align: left;
   color: #d8e8c4;
  }
  .unit3 h1 {
   color: #d8e8c4;
  }
  .unit3 .question {
   font-weight: bold;
   margin: 10px 0;
   color: #d8e8c4;
  }
  .unit3 .answers label {
   display: block;
   padding: 5px;
   cursor: pointer;
   color: #d8e8c4;
  }
  .unit3 .answers input[type="radio"] {
   margin-right: 10px;
  }
  .unit3 .btn {
   background: #5a7d31;
   color: white;
   padding: 10px 15px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   margin-top: 15px;
   border-radius: 5px;
   transition: background 0.3s ease;
  }
  .unit3 .btn:hover {
   background: #35491d;
  }
  .unit3 #results {
   margin-top: 20px;
   font-size: 18px;
   font-weight: bold;
   color: #d8e8c4;
  }
  .unit3 hr {
   border: 0;
   height: 1px;
   background: #7fa26b;
   margin: 15px 0;
  }